.chessboard {
    border-spacing: 0; border-collapse: collapse;
}

.chessboard th { 
    padding: .5em
}

.chessboard td {
    border: 1px solid; width: 2em; height: 2em;
}

.chessboard .white { 
    background-color: #eee;
}

.chessboard .black { 
    background-color: rgba(0, 0, 0, 0.488);
}